html,
body {
    height: 100%;
    background-color:#BF1919;
  /* The html and body elements cannot have any padding or margin. */
}

.navbar div ul li{
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-default {
    color: aliceblue;
    background-color:#BF1919;
    border-color: #330000;
}


.footer {
    margin-top: 10em;
    background-color:#BF1919;
    border-color: #330000;
}

.footer h5{
    text-align:center; 
}